* {
    margin: 0;
    padding: 0;
}
  
  @font-face {
    font-family: 'TTLakes-Medium';
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  }

body {
    display: inline;
    font-family: "TTLakes-Medium";
    color: #fff;
    background-image: url(../img/iconav.png);
    background-repeat: no-repeat;
    background-size: cover;
}

html::-webkit-scrollbar {
display: none;
}
.lesson-description code {
  color: #3b3b3b;
  background: #fafafa;
  padding: 1px 8px;
  font-size: 90%;
  border-radius: 5px;
}

h1 {
    letter-spacing: 1px;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: solid 3px #fff;
    border-radius: 3px;
    font-size: 40px;
}

h2 {
    letter-spacing: 1px;
    margin: 20px 0 20px 0;
}

h3 {
    letter-spacing: 1px;
}

li {
    line-height:60px;
    list-style: none;
}

a {
    border-radius: 6px;
    border: solid 1px #fff;
    text-decoration:none;
    color: #fff;
    padding: 8px;
}

a:hover {
    background-color: #fd161680;
}

iframe {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    margin-top: 20px;
}

img {
    border-radius: 10px;
}

header img {
    width: 60px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: -8px;
    box-shadow: black 0px 0px 25px 10px;
}

.loock {
  width:350px;
  margin-top: 20px;
  filter: blur(10px);
}
#greyProgress {
  width: 100%;
  background-color: #7e7e7e8e;
  border-radius: 6px;
  margin: 5px;
}
#greenBar {
  align-items: center;
  display: flex;
  border-radius: 6px;
  width: 10%;
  height: 60px;
  background-color: #00a093d2;
  text-align: center;
  line-height: 30px;
  color: white;
}
.text {
    margin-top: 10px;
    width: 50%;
    line-height:25px;
    border: 2px solid #fd161680;;
    border-radius: 6px;
    padding: 10px;
    background-color: #ffffff17;
}

.text h3 {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #fff;
}

.text b {
    display: flex;
    justify-content: center;
}

.works {
    border: 2px solid #fd161680;
    border-radius: 6px;
    padding: 10px;
    max-width: 1120px;
    margin-top: 20px;
    background-color: #ffffff17;
}

.works h3 {
    border-bottom: 2px solid #ffffff;
    display: flex;
    justify-content: center;
}

.works a {
    border: none;
    color: #009fc7;;
    padding: 0;
}

.tabs {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100vh;
  }
  
  .tab-header {
    display: flex;
  }
  
button {
  transition-duration:0.3s;
    cursor: pointer;
}

  .tab-button {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #ff43ef57;
    border: none;
    width: 100%;
    height: 250px;
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
    font-weight:800;
  }

  .tab-button img {
    margin-right: 10px;
    width: 150px;
    border-radius: 100%;
    height: 150px;
  }
  
  .tab-button.active {
    width: 110%;
    height: 270px;
    background-color: #fd161680;
  }
  .tab-button:hover {
    background: #25deff80;
    transition-duration:0.3s;
  }

    .tab-button.x:hover:after {
    content: attr(data-title); /* Выводим текст */
    background: #8b0404;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 10px;
   }
  
  .tab-content {
    margin-top: 10px;
  }
  
  .tab-item {
    display: none;
  }
  
  .tab-item.active {
    display: block;
    animation: fade-in 1s ease-in-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .hidden {
    display: none;
  }

  .hiddend {
    display: none;
  }

  .hiddene {
    display: none;
  }

  .hiddenr {
    display: none;
  }

  .hiddenf {
    display: none;
  }

  .hiddeng {
    display: none;
  }

  .hiddenh {
    display: none;
  }

  .hiddenj {
    display: none;
  }

  .hiddenk {
    display: none;
  }

  #readMoreBtnk {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }

  #readMoreBtnk:hover {
    background-color: #fd161680;
  }


  #readMoreBtnj {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }

  #readMoreBtnj:hover {
    background-color: #fd161680;
  }

  #readMoreBtnh {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }

  #readMoreBtnh:hover {
    background-color: #fd161680;
  }

  #readMoreBtng {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }

  #readMoreBtng:hover {
    background-color: #fd161680;
  }

  #readMoreBtnf {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }

  #readMoreBtnf:hover {
    background-color: #fd161680;
  }

  #readMoreBtnd {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }

  #readMoreBtnd:hover {
    background-color: #fd161680;
  }

  #readMoreBtne {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }

  #readMoreBtne:hover {
    background-color: #fd161680;
  }

  #readMoreBtnr {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }

  #readMoreBtnr:hover {
    background-color: #fd161680;
  }

  #readMoreBtn {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    height: 20px;
    padding: 20px;
    display:flex ;
    align-items: center;
  }
  #readMoreBtn:hover {
    background-color: #fd161680;
  }

  pre {
    background: #fafafa !important;
    margin-top: 10px !important;
  }
  
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #383a42;
    background: #fafafa;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #a0a1a7;
    font-style: italic;
  }
  
  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #a626a4;
  }
  
  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e45649;
  }
  
  .hljs-literal {
    color: #0184bb;
  }
  
  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    color: #50a14f;
  }
  
  .hljs-built_in,
  .hljs-class .hljs-title {
    color: #c18401;
  }
  
  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #986801;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #4078f2;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-link {
    text-decoration: underline;
  }
  
code {
  border-radius: 6px;
}

  @media (min-width: 0px) and (max-width: 414px) {

body {
  width: 100%;
}

.tab-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.text {
  width: auto;
}

.tab-button {
  width: 350px;
  margin-bottom: 20px;
}

.tab-button.active {
  width: 370px;
}

.works img {
  width: 350px;
}

ul img {
  width: 350px;
}

.works p img {
  width: 325px;
}

.works img {
  width: 325px;
}

iframe {
  width: 350px;
  height: 200px;
}

  }
